html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

header {
  display: flex;
  background-color: #ccc;
  flex-direction: row; 
  justify-content: space-between;
  
 }

 header a{
   text-decoration: none;
 }

header .logo{
  padding: 1em;
  height: 22px;
}

header ul{
  list-style: none;
  display: flex;
}

 header li{
   padding: .5em;
  
 }
 
header li a{

  color: black;
}
 header li a:hover, li.active a {
  color: blue;

}

.footer{
  border-bottom: 1px solid #caca;
  margin: 0 9px 0;
  display: flex;
  justify-content: space-between;
}

img.user{
  display: inline-block;
  height: 28px;
  width: 28px;
  border-radius: 3px;
  overflow:hidden;
}

@media screen and (min-width: 600px){




.pagecontent img.main{
  height: 424px;
  width: 424px;
  border: 1px solid #caca;
  
}


.pagecontent{
  padding-top: 12px;
  display: flex;
  flex-wrap: wrap;
}

section.img{
  margin: 0 9px 0;
}
}

@media screen and (max-width: 599px){
 
img.main{
  width: 100%;
  padding: 9px;

}  

.mobile{

  display: none;
}

}







