html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

header {
  background-color: #ccc;
  
 }

 header a{
   text-decoration: none;
 }

 header section {
  display: flex;
  flex-direction: row; 

 }

 header li{
   padding: 1em;
  justify-items: flex-end;
 }
 

 header li a:hover, li.active a {
  color: blue;
}

header ul{
  list-style: none;
  display: flex;
}


